<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Home</title>
        
    </head>
    <body>

    <div>

        <nav>
            <div class="nav-wrapper color-green left-padding-20">
              <a href="#" class="brand-logo">More Recipes</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.html">Home</a></li>
                <li><a href="signin.html">Sign In</a></li>
                <li><a href="signup.html">Sign Up</a></li>
              </ul>
            </div>
				</nav>
				
				<div class="carousel carousel-slider center" data-indicators="true">
					<!-- <div class="carousel-fixed-item center">
						<a class="btn waves-effect white grey-text darken-text-2">button</a>
					</div> -->
					<div class="carousel-item red white-text" href="#one!" style="background-image : url('./images/23.jpg')">
						<h2>Welcome the biggest Recipe sharing app</h2>
						<p class="white-text">This is your first panel</p>
					</div>
					<div class="carousel-item amber white-text" href="#two!" style="background-image : url('./images/53.jpg')"> 
						<h2>Second Panel</h2>
						<p class="white-text">This is your second panel</p>
					</div>
					<div class="carousel-item green white-text" href="#three!" style="background-image : url('./images/4.jpg')">
						<h2>Third Panel</h2>
						<p class="white-text">This is your third panel</p>
					</div>
				</div>

        <div class="container">
				
					<!-- <div class="top-margin-40" style="height: 450px; width: 100%; background-color:#26a69a; position:relative "> -->
						<!-- <img style="width:100%; height:100%;" src="./images/4.jpg"> -->
						<!-- <div style="width:100%; height:450px%; top:0; text-align: center; color:#ccc; bottom:0; position:absolute; background-color:rgba(0,0,0, 0.6);"> -->
								<!-- <h1 class="margin-top:40">More Recipes</h1> -->
								<!-- <p>The fantastic recipe sharing application</p> -->
								<!-- <div class="carousel carousel-slider center" data-indicators="true">
										<div class="carousel-fixed-item center">
											<a class="btn waves-effect white grey-text darken-text-2">button</a>
										</div>
										<div class="carousel-item red white-text" href="#one!">
											<h2>Welcome the biggest Recipe sharing app</h2>
											<p class="white-text">This is your first panel</p>
										</div>
										<div class="carousel-item amber white-text" href="#two!">
											<h2>Second Panel</h2>
											<p class="white-text">This is your second panel</p>
										</div>
										<div class="carousel-item green white-text" href="#three!">
											<h2>Third Panel</h2>
											<p class="white-text">This is your third panel</p>
										</div>
										<div class="carousel-item blue white-text" href="#four!">
											<h2>Fourth Panel</h2>
											<p class="white-text">This is your fourth panel</p>
										</div>
									</div> -->
						<!-- </div> -->
					<!-- </div> -->
        <div class="row">

          <!-- content -->
          <div class="col s12 m10 l10">
          	  <div class="row">
		          <div class="col s12 m8 l8">
		          	<h3 class="h-title">Recent Recipes</h3>
		          </div>
		          <div class="col s12 m4 l4 top-margin-30">
		          	<div class="input-field col s12">
		          		<i class="material-icons prefix">search</i></a>
                        <input id="search" type="text" >
                        <label for="search">Enter Keyword</label>
                     </div>
		          </div>
		      </div>
          	  <hr style="border-top: 1px solid #26a69a;">
              <div class="row">
		          <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <a href="recipe.html"><img src="./images/1.jpg"></a>
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green-transparent">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <a href="recipe.html"><span class="card_title">Mashed potatoes</span></a>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. 
				          I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: Henry Otighe</span>
				        </div>
				     </div> 
          		  </div>
		          <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <img src="./images/8.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <span class="card_title">Diced Pineaples</span>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: Herbert Mead</span>
				        </div>
				     </div>  
          		  </div>
          		  <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <img src="./images/23.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <span class="card_title">Mashed Beaf with potatoes source</span>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: Victor Frankinstein</span>
				        </div>
				     </div>  
          		  </div>
          		            		  
          		  
		        </div>

		        <div class="row">
		          <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <img src="./images/7.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <span class="card_title">Beans with Plantain</span>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: Denis Richie</span>
				        </div>
				     </div>  
          		  </div>
		          <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <img src="./images/6.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <span class="card_title">Cocco yam portage</span>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: Tim Banner Lee</span>
				        </div>
				     </div>  
          		  </div>
          		  <div class="col s12 m4 l4">
		             <div class="card">
				        <div class="card-image">
				          <img src="./images/443.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				        <span class="card_title">Bacon and vegitable fries</span>
				          <p class="card-p">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				          <hr>
				          <span class="bold text-gray">By: James Goosling</span>
				        </div>
				     </div>  
          		  </div>
          		  
          		  
          		  
		        </div>

		        <ul class="pagination" style="text-align: center;">
				    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				    <li class="active"><a href="#!" class="color-green">1</a></li>
				    <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
				  </ul>  
          </div>
          <!-- end of content -->

          <!-- right side bar -->
          <div class="col s12 m2 l2 top-margin-40">
          	  <h4 class="" style="font-size: 24px;">Top Recipes</h4>

              <div class="row">
              	<div class="col s12">
              		<div class="card">
				        <div class="card-image">
				          <img src="./images/5.jpg">
				          
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				          <p class="card-p">Title</p>
				        </div>
				     </div>
				     <div class="card">
				        <div class="card-image">
				          <img src="./images/4.jpg">
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				          <p class="card-p">Titlet</p>
				        </div>
				     </div>
				     <div class="card">
				        <div class="card-image">
				          <img src="./images/53.jpg">
				          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons color-green">favorite</i></a>
				        </div>
				        <div class="card-content">
				          <p class="card-p">Title</p>
				        </div>
				     </div>
              	</div>
              </div>  
              
              <a class="waves-effect waves-light btn">View All</a>   
          </div>
        </div>

      </div>

      
    </div>
      
      <div class="foot">
          <p class="foo">Copyright &copy; 2017, More Recipes, All rights reserved.</p>
      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="./js/materialize.min.js"></script>
			<script>
				$(document).ready(function(){
					$('.carousel.carousel-slider').carousel({fullWidth: true});
				});
			</script>
    </body>
</html>